<html ng-app="toDoApp" >
  <head>
    <title>ToDo!</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!--Lo-Dash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- App -->
    <script src="app.js"></script>
    <!-- Filters -->
    <script src="filters/hidecompleted.js"></script>
    <!-- Directives -->
    <script src="directives/todoitem.js"></script>
    <!-- Services -->
    <script src="services/allitems.js"></script>
  </head>

  <body ng-controller= "TodoCtrl">

    <form name="new-todo" ng-submit="submitForm()">
      <label for="name">Task Name:</label>
      <input type="text" name="name" ng-model="formData.name">
      <label for="dueDate">Due Date:</label>
      <input type="date" name="dueDate" ng-model="formData.dueDate">
      <input type=submit>
    </form>
    <table>
      <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="item in items | hideCompletedFilter:hideCompleted" to-do-item item="item" delete-item="deleteItem(item)" >

      </tr>
    </table>
    <input type="submit" value="Clear Completed" ng-click="clearCompleted()">
    <input type="submit" ng-if= "hideCompleted" value="Show All" ng-click="toggleHideCompleted()">
    <input type="submit" ng-if= "!hideCompleted" value="Hide Completed" ng-click="toggleHideCompleted()">
    <p>{{items}}</p>

  </body>
</html>